nav{
 display:flex;
 align-items:center;
 justify-content: space-between;
 background-color: bisque;
}
.menu{
    display:flex;
    gap:10px;
   }
li{
    list-style:none;
}
a{
  text-decoration:none;  
}
/*header*/
.row {
  display: flex;
}

.column {
  flex: 50%;
  border-radius:30px;
}